body{
  background-color: SkyBlue;
  color: #FFF;
  background-size: auto;
}

.lobster{
  font-family: 'Lobster', cursive;
}

header h1{
  font-size: 40px;
  font-family: Orbitron, sans-serif; 
  font-weight: bold;
  

}

div button{
  font-size: 20px;
  color: #000;
}

.settings{
  display: inline-block;

}

a:hover{
  color: #FFF;
}
a:visited{
  text-decoration: none;
  color: rgb(255,255,255);
}

settings-head{
font-size: 30px;
font-family: Orbitron, sans-serif;  
font-weight: bold;
}

.durationvalue{
    font-family: Orbitron, sans-serif;
}

.clock{
  margin-left: 0px auto;
  color: #FFF;!important
  /* max-width: 300px; */
}
.flip-clock-wrapper{
  max-width: 300px !important;
  height: auto !important;
  margin: 0 auto!important;
  display: block;
}
.flip-clock-label{
color: #FFF !important;
}
.clock-header {
    font-family: Orbitron, sans-serif;
     font-size: 40px;
     padding-bottom: 10px!important;
     text-align: center;
     display: inline-block;
}
button{
 font-family: Orbitron, sans-serif !important; 
}

.controls{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}